PlatformService/obj/Debug/netcoreapp5.0/project.razor.json
PlatformService/obj/Debug/netcoreapp5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
PlatformService/obj/Debug/netcoreapp5.0/PlatformService.AssemblyInfo.cs
PlatformService/obj/Debug/netcoreapp5.0/PlatformService.AssemblyInfoInputs.cache
PlatformService/obj/Debug/netcoreapp5.0/PlatformService.csproj.AssemblyReference.cache
PlatformService/obj/Debug/netcoreapp5.0/PlatformService.GeneratedMSBuildEditorConfig.editorconfig
